<header>
    <img class="header__arrowBack" src="assets/images/arrow-back.svg" alt="" srcset="">
    <h4 class="header__text">Featured</h4>
    <img class="header__search" src="assets/images/search.svg" alt="" srcset="">
</header>