<footer class="footer">
    <nav class="footer__nav">
        <a href="" class="nav__link">
            <img src="assets/images/pulse.svg" alt="" class="link__img">
        </a>
        <a href="" class="nav__link">
            <img src="assets/images/microphone.svg" alt="" class="link__img">
        </a>
        <a href="" class="nav__link link__center_width">
            <img src="assets/images/wifi.svg" alt="" class="link__img">
        </a>
        <a href="" class="nav__link">
            <img src="assets/images/contrast.svg" alt="" class="link__img">
        </a>
        <a href="" class="nav__link">
            <img src="assets/images/settings.svg" alt="" class="link__img">
        </a>
    </nav>
</footer>