<footer class="footer">
    <nav class="footer__nav">
        <a href="/albums" class="nav__link">
            <img src="/assets/images/pulse.svg" alt="Albums" class="link__img">
        </a>
        <a href="/playlists" class="nav__link">
            <img src="/assets/images/microphone.svg" alt="playlists" class="link__img">
        </a>
        <a href="/" class="nav__link link__center">
            <img src="/assets/images/featured_logo_black.svg" alt="Featured" class="link__img_black">
        </a>
        <a href="/theme" class="nav__link">
            <img src="/assets/images/contrast.svg" alt="Theme" class="link__img">
        </a>
        <a href="/categories" class="nav__link">
            <img src="/assets/images/settings.svg" alt="Categories" class="link__img">
        </a>
    </nav>
</footer>