<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/albums.css">
</head>
<body>
    <header>
        <img class="header__arrowBack header__icon" src="/assets/images/arrow-back.svg" alt="" srcset="">
        <h4 class="header__text">Music</h4>
        <img class="header__search header__icon" src="/assets/images/search.svg" alt="" srcset="">
    </header>
<main class="main">
    <h1 class="main__header">All albums</h1>
    <div class="main__subtitle">
        <h5 class="subtitle__text">Featured albums</h5>
        <p class="subtitle__view">View all</p>
    </div>
    <h1 class="exchange">Slider swiper!</h1>
    <div class="main__subtitle">
        <h5 class="subtitle__text">New Releases</h5>
        <p class="subtitle__view">View all</p>
    </div>
    <div class="main__songContainer">
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <img src="/assets/images/featured_img1.png" alt="Image" class="song__img">
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
    </div>
</main>
<% include ../partials/nav %> 
<% include ../partials/after-footer %>
