<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/albums.css">
</head>
<body>
    <header>
        <img class="header__arrowBack header__icon" src="/assets/images/arrow-back.svg" alt="" srcset="">
        <h4 class="header__text">Categories</h4>
        <img class="header__search header__icon" src="/assets/images/search.svg" alt="" srcset="">
    </header>
<main class="main">
    <h1 class="main__header">Categories</h1>
   
</main>
<% include ../partials/nav %> 
<% include ../partials/after-footer %>