<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/categories.css">
</head>
<body>
    <header>
        <img class="header__arrowBack header__icon" src="/assets/images/arrow-back.svg" alt="" srcset="">
        <h4 class="header__text">Categories</h4>
        <img class="header__search header__icon" src="/assets/images/search.svg" alt="" srcset="">
    </header>
<main class="main">
    <h1 class="main__header">Categories</h1>
    <ul class="main__categoriesContainer">
        <li class="categoriesContainer__category">
            <h4 class="category__text">Category</h4>
            <img src="/assets/images/categories_more.svg" alt="Image" class="category__more">
        </li>
        <ul class="categoriesContainer__subCategories hide">
            <li class="subCategories__subCategory">
                <p class="subCategory__text">Sub category</p>
                <img src="/assets/images/categories_arrow-forward.png" alt="forward" class="subCategory__img">
            </li>
            <li class="subCategories__subCategory">
                <p class="subCategory__text">Sub category</p>
                <img src="/assets/images/categories_arrow-forward.png" alt="forward" class="subCategory__img">
            </li>
        </ul>
    </ul>
    <ul class="main__categoriesContainer">
        <li class="categoriesContainer__category">
            <h4 class="category__text">Category</h4>
            <img src="/assets/images/categories_more.svg" alt="Image" class="category__more">
        </li>
        <ul class="categoriesContainer__subCategories hide">
            <li class="subCategories__subCategory">
                <p class="subCategory__text">Sub category</p>
                <img src="/assets/images/categories_arrow-forward.png" alt="forward" class="subCategory__img">
            </li>
            <li class="subCategories__subCategory">
                <p class="subCategory__text">Sub category</p>
                <img src="/assets/images/categories_arrow-forward.png" alt="forward" class="subCategory__img">
            </li>
        </ul>
    </ul>
    <ul class="main__categoriesContainer">
        <li class="categoriesContainer__category">
            <h4 class="category__text">Category</h4>
            <img src="/assets/images/categories_more.svg" alt="Image" class="category__more">
        </li>
        <ul class="categoriesContainer__subCategories hide">
            <li class="subCategories__subCategory">
                <p class="subCategory__text">Sub category</p>
                <img src="/assets/images/categories_arrow-forward.png" alt="forward" class="subCategory__img">
            </li>
            <li class="subCategories__subCategory">
                <p class="subCategory__text">Sub category</p>
                <img src="/assets/images/categories_arrow-forward.png" alt="forward" class="subCategory__img">
            </li>
        </ul>
    </ul>
</main>
<% include ../partials/nav %> 
<script src="/assets/javascript/categories.js" defer></script>
<% include ../partials/after-footer %>