<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/categories.css">
</head>
<body>
    <header>
        <img class="header__arrowBack header__icon" src="/assets/images/arrow-back.svg" alt="" srcset="">
        <h4 class="header__text">Categories</h4>
        <img class="header__search header__icon" src="/assets/images/search.svg" alt="" srcset="">
    </header>
<main class="main">
    <h1 class="main__header">Categories</h1>
    <ul class="main__categoriesContainer">
        <li class="categoriesContainer__category">
            <h4 class="category__text">Category</h4>
            <img src="/assets/images/categories_more.svg" alt="Image" class="song__img">
        </li>
    </ul>
    <ul class="main__categoriesContainer">
        <li class="categoriesContainer__category">
            <h4 class="category__text">Category</h4>
            <img src="/assets/images/categories_more.svg" alt="Image" class="song__img">
        </li>
    </ul>
</main>
<% include ../partials/nav %> 
<% include ../partials/after-footer %>