<% include ../partials/head %> 
</head>
<body>
  <header>
  <img class="header__arrowBack header__icon" src="/assets/images/arrow-back.svg" alt="" srcset="">
  <h4 class="header__text">Featured</h4>
  <img class="header__search header__icon" src="/assets/images/search.svg" alt="" srcset="">
</header>
<main class="main">
  <h1 class="main__header">Featured</h1>
  <div class="main__imgContainer">
    <figure class="imgContainer__singleImgContainer">
      <img
        src="/assets/images/featured_img1.png"
        alt=""
        class="singleImgContainer__img"
      />
      <img
        src="/assets/images/featured_shadow.png"
        alt=""
        class="singleImgContainer__shadow"
      />
      <figcaption class="singleImgContainer__title">The Greatest Showman</figcaption>
      <figcaption class="singleImgContainer__text">Soundtrack</figcaption>
    </figure>
    <figure class="imgContainer__singleImgContainer">
      <img
        src="/assets/images/featured_img2.png"
        alt=""
        class="singleImgContainer__img"
      />
      <img
        src="/assets/images/featured_shadow.png"
        alt=""
        class="singleImgContainer__shadow"
      />
      <figcaption class="singleImgContainer__title">The Greatest Showman</figcaption>
      <figcaption class="singleImgContainer__text">Soundtrack</figcaption>
    </figure>
  </div>
</main>
<% include ../partials/nav %>
<% include ../partials/after-footer %>
