<% include ../partials/head %>
<link rel="stylesheet" href="/assets/css/playlists.css">
</head>
<body>
    <header>
        <img src="/assets/images/playlists_background.svg" alt="Image" class="body__background">
        <img class="header__arrowBack header__icon" src="/assets/images/arrow-back.svg" alt="" srcset="">
        <h4 class="header__text">Playlists</h4>
        <img class="header__search header__icon" src="/assets/images/search.svg" alt="" srcset="">
    </header>
    <h1 class="main__header_white">Playlists</h1 id="white">
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <img class="swiper-slide" src="/assets/images/playlists_img1.png" alt="">
              </div>
              <div class="swiper-slide">
                  <img class="swiper-slide" src="/assets/images/playlists_img2.png" alt="">
              </div>
              <div class="swiper-slide">
                  <img class="swiper-slide" src="/assets/images/playlists_img3.png" alt="">
              </div>
            </div>
<main class="main">
    <div class="main__listTitleContainer">
        <h3 class="listTitleContainer__listTitle">Top 50 <br>Rock Ballads</h3>
    </div>
    <div class="main__songContainer">
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
        <div class="songContainer__song">
            <div class="song__playbuttonContainer">
                <img src="/assets/images/playbutton_background.svg" alt="Image" class="playbutton__background">
                <img src="/assets/images/playbutton.svg" alt="Image" class="playbutton__content">
            </div>
            <div class="song__info">
                <h5 class="info__title">Song title</h5>
                <p class="info__artist smallText">Artist</p>
            </div>
            <p class="song__quantity smallText">12 songs</p>
        </div>
    </div>
    <div class="main__showMoreContainer">
        <h4 class="showMoreContainer__content">LISTEN ALL</h4>
    </div>
</main>
<% include ../partials/nav %> 
<% include ../partials/after-footer %>