@import "variables";

h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption {
  margin: 0;
  font-family: poppins;
}

body {
  margin: 0;
  background-color: $backgroundColor;
  position: relative;
}

header {
  margin: 1.5625rem 1.5625rem 0 1.5625rem;
  display: flex;
  justify-content: space-between;
}

.header__text {
  color: $whiteColor;
  font-weight: 300;
  letter-spacing: 0.1875rem;
}

.main {
  padding: 0 1.5625rem 1.5625rem 1.5625rem;
}

// Navigation
.footer {
  position: sticky;
  bottom: 0;
  z-index: 9999;
}
.footer__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $navBackgroundColor;
  height: 4.0625rem;
}

.link__center {
  width: 2.8125rem;
  height: 2.8125rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $whiteColor;
  border-radius: 50%;
}

.link__img_black {
  position: absolute;
  z-index: 5;
}
