@import "variables";

h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption {
  margin: 0;
  font-family: poppins;
}

h5{
  font-size: 0.9375rem;
}

body {
  margin: 0;
  background-color: $backgroundColor;
  position: relative;
}

// Header 
header {
  padding: 1.5625rem 1.5625rem 0 1.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__arrowBack{
  width: 0.53625rem;
  height: 0.9375rem;
}

.header__text {
  color: $whiteColor;
  font-weight: 300;
  letter-spacing: 0.1875rem;
}

.header__search{
  width: 0.9375rem;
  height: 0.9375rem;
}

.main {
  padding: 0 1.5625rem 3rem 1.5625rem;
}

// Navigation
.footer {
  position: sticky;
  bottom: 0;
  z-index: 9999;
  width: 100%;
}
.footer__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $navBackgroundColor;
  height: 4.0625rem;
}

.link__center {
  width: 2.8125rem;
  height: 2.8125rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $whiteColor;
  border-radius: 50%;
}

.link__img_black {
  position: absolute;
  z-index: 5;
}

/* #albums .albums{
 background: url(/assets/images/pulse_selected.svg);
} */

/* .albums__icon{
  fill: $linearGradientColor;
}
.link__img{
  fill: $linearGradientColor;
} */



// Color fill
//fill="url(#linear-gradient)"