// Fonts
$primaryFont: Poppins;


// Colors
$backgroundColor: #341931;
$linearGradientColor: linear-gradient(90deg, rgba(238,9,121,1), rgba(255,106,0,1));
$whiteColor: #fff;
$navBackgroundColor: #111625;